@import "vars";
@import "vendor/reset";

html {
    font-size: 62.5%;
}

body {
    background-color: #181818;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
/* Blocks */
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav.scss";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container.scss";
@import "blocks/profile.scss";
@import "blocks/social.scss";
@import "blocks/btn.scss";
@import "blocks/stories.scss";
@import "blocks/add-post.scss";
@import "blocks/post.scss";
@import "blocks/embed.scss";
@import "blocks/pagination.scss";
@import "blocks/related.scss";
@import "blocks/comments.scss";
@import "blocks/form.scss";