<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar/sidebar_header_2.jpg" alt= "">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/sidebar/sidebar_avatar2.jpg" alt="">
            <div class="profile__name">Крапивин Елисей</div>
            <div class="profile__prof">блог начинающего программиста</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/sidebar/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/sidebar/vk.svg" alt="vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/sidebar/pinterest.svg" alt="pinterest">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>На данный момент верстаю сайты. Изучаю фреймворк Django. Делаю лабораторки для ООП. Рассчитываю толщину стенок конденсатора. Решаю матрицы.  </p>
            </div> 
        </div><!-- /.profile --> 
    </div><!-- /.sidebar__content -->

    <div class="sidebar__footer">
        <a class="btn  btn--red" href="works.html">Мои работы</a>
        <button class="btn  btn--blue" type="button">Написать мне</button>
    </div>
</aside>